In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data = pd.read_csv('gapminder-FiveYearData.csv')

In [4]:
data.columns

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB

In [60]:
new_row = [1,3,5]
new_col = ['country', 'continent']

In [61]:
data.loc[new_row, new_col]

       country continent
1  Afghanistan      Asia
3  Afghanistan      Asia
5  Afghanistan      Asia

In [63]:
# data[(data['country'] == 'Saudi Arabia') & (data['continent'] == 'Asia')]

In [67]:
sa = (data['country'] == 'Saudi Arabia') & (data['continent'] == 'Asia')

In [65]:
sa.value_counts()

False    1692
True       12
dtype: int64

In [69]:
sa[0:10]

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [70]:
data.loc[sa, data.select_dtypes('object').columns]
data.loc[sa]

           country  year         pop continent  lifeExp     gdpPercap
1308  Saudi Arabia  1952   4005677.0      Asia   39.875   6459.554823
1309  Saudi Arabia  1957   4419650.0      Asia   42.868   8157.591248
1310  Saudi Arabia  1962   4943029.0      Asia   45.914  11626.419750
1311  Saudi Arabia  1967   5618198.0      Asia   49.901  16903.048860
1312  Saudi Arabia  1972   6472756.0      Asia   53.886  24837.428650
1313  Saudi Arabia  1977   8128505.0      Asia   58.690  34167.762600
1314  Saudi Arabia  1982  11254672.0      Asia   63.012  33693.175250
1315  Saudi Arabia  1987  14619745.0      Asia   66.295  21198.261360
1316  Saudi Arabia  1992  16945857.0      Asia   68.768  24841.617770
1317  Saudi Arabia  1997  21229759.0      Asia   70.533  20586.690190
1318  Saudi Arabia  2002  24501530.0      Asia   71.626  19014.541180
1319  Saudi Arabia  2007  27601038.0      Asia   72.777  21654.831940

In [43]:
data.select_dtypes('object').columns

Index(['country', 'continent'], dtype='object')

In [91]:
data['country'][data['continent'] == 'Asia']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1675     Yemen Rep.
1676     Yemen Rep.
1677     Yemen Rep.
1678     Yemen Rep.
1679     Yemen Rep.
Name: country, Length: 396, dtype: object

In [87]:
len(set(data['country'][data['continent'] == 'Asia'].unique()))

33